<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ralph.second">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mF30Ge9lZS6q1ClMrYMczr3tVnOxP7P1" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ex01Activity"></activity>
        <activity android:name=".Ex02Activity"></activity>
        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".Ex03Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex04Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex05Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex06Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex07Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex08Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex09Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="Ex09Activity2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex10Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Ex11Activity"></activity>
        <activity
            android:name=".Ex12Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex13Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EX14Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex15Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex16Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex17Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex18Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".PlaneActivity"></activity>
        <activity
            android:name=".Ex19Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex20Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex21Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex22Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Ex23Activity"></activity>
        <activity
            android:name=".Ex24Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex25Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex26Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex27Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex28Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="hello" />
                <category android:name="com.ralph.sencond.world" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ex29Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex30Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex30ActivityBookDetail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex31Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex31Activity2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex32Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex33Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex34Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex35Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex36Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex37Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex38Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex39Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex40Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex41Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex42Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <provider
            android:authorities="com.ralph.second"
            android:name=".Ex43Provider"
            android:exported="true" />
        <activity
            android:name=".Ex44Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex45Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name=".Ex45Service" />
        <activity
            android:name=".Ex46Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name=".Ex46Service" />
        <activity
            android:name=".Ex47Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex48Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex49Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex50Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex51Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex52Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex53Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex55Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex56Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex57Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Ex58Activity"></activity>
    </application>
</manifest>